button{
  display: inline-block;
  padding: 0.2em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgb(235, 235, 235);
  color: rgba(0, 0, 0, 0.638);
  font-size: 0.8em;
  height: 2em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {

    background: #00000017;
    
  }
}